<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <meta name="author" content="{{ config.author }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather+Sans:400,700|Merriweather:400,700" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <hr>
    <nav>
      <a class="button-text" href="/">Home</a>
      <a class="button-text" href="/about">About</a>
      <a class="button-text" href="/music">Music</a>
      <a class="button-text" href="/projects">Projects</a>
    </nav>
    <hr>
    <main>
      {% block body %}
      {% endblock body %}
    </main>
    <hr>
    <footer>
      <a href="https://github.com/nwtnni" class="button"><i class="icon-github"></i><span class="collapse"> GitHub</span></a>
      <a href="mailto:nwtnni@gmail.com" class="button"><i class="icon-mail-alt"></i><span class="collapse"> Gmail</span></a>
      <a href="https://www.youtube.com/channel/UC26iIHidX2FUZFx2Se3x4eA" class="button"><i class="icon-youtube-play"></i><span class="collapse"> YouTube</span></a>
    </footer>
  </body>
</html>
