{% macro header(page) %}
  <header>
    <h1 class="title">
      {{ page.title }}
    </h1>
    <div class="date">
      {{ page.date | date(format="%B %e, %Y")}}
    </div>
  </header>
{% endmacro header %}

{% macro preview(page) %}
  <section>
    {{ self::header(page=page) }}
    {{ page.summary | safe }}
    <div class="read-more">
      <a href="{{ page.permalink }}" class="button"><i class="icon-right-big"></i> Read More</a>
    </div>
  </section>
{% endmacro preview %}

{% macro publication(title, authors, conference, doi='', paper='', code='') %}
    <p>
        <b>{{ title }}</b>
        <br>
            {% for author in authors %}
                <!-- NOTE: ternary expression not supported as assignment RHS? -->
                {% if not loop.last %}
                    {% set comma = "," %}
                {% else %}
                    {% set comma = "" %}
                {% endif %}

                {% if author in config.extra.urls %}
                    <a class="gray" href={{ config.extra.urls[author] }}>{{ author }}</a>{{ comma }}
                {% else %}
                    <span class="highlight"><b>{{ author }}</b></span>{{ comma }}
                {% endif %}
            {% endfor %}
        <br>
            <span class="gray">
                {{ conference }}
            </span>
        <br>
        <span>
        {% if doi %}<a href="{{ doi }}" class="button"><i class="icon-right-big"></i> DOI</a>{% endif %}
        {% if paper %}<a href="{{ paper }}" class="button"><i class="icon-right-big"></i> Paper</a>{% endif %}
        {% if code %}<a href="{{ code }}" class="button"><i class="icon-right-big"></i> Code</a>{% endif %}
        </span>
    </p>
{% endmacro doi %}
